.flexbox-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 100%;
}

.flex-item {
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 100px;
}

img {
  width: 40%;
  text-align: center;
}

p {
  width: 40%;
  margin: auto;
  text-align: center;
}

.links a {
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  color: blue;
  border-style: dashed;
  border-width: ;
}

.project-title {
  font-size: 20px;
}
