.app {
  text-align: center;
  font-family: "Sintony", sans-serif;
  text-decoration: none;
  padding-top: 50px;
}

ul {
  list-style-type: none;
  margin: auto;
  width: 250px;
  padding: 20px;
}

li {
  float: left;
  padding: 10px;
}

li a {
  color: black;
  text-decoration-line: underline;
}

h1 a {
  font-size: 60px;
  text-decoration: none;
  color: black;
}

footer {
  margin: auto;
  width: 250px;
  padding: 15px;
}

.fab {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  text-align: center;
  margin: 6px 3px;
  border-radius: 80%;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white;
}

.fa-medium-m {
  background: black;
  color: white;
}

.fa-github {
  background: #f47741;
  color: white;
}
